<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Custom Login Doucment</title>
</head>
<body>
<h1>Welcome To Custom Login Page </h1>
 <form th:action="@{/login}" method="Post">
 <pre>
EMAIL  : <input type="text" name="username"/></br>
PASS   : <input type="text" name="password"/></br>
SUBMIT <input type="submit" value="Login"/></br> 
</pre>
</form> 
<span th:if="${param.error}">Invalid Login details</span>
<span th:if="${param.logout}">Logout Success</span> 
<a th:href="@{/user/show}">Register Page</a> 
</body>
</html>